textarea {
    resize : none;
}
.mask{
    background-color: #efefef;
    z-index:10;
    font-size: 6rem;

}
#schoolReview{
    padding:2% 3%;
}
#schoolSort{
    margin: 2% 0;
}
#schoolSort tr{
    border-radius: 5px;
    border: 1px solid transparent;
}
#schoolSort td{
    padding: 20px 0;
}

#schoolSort td[class*="col-"]{
    float: left;
}
#schoolSort td[class*="col-xs-"]{
    padding-right: 40px;
    padding-left: 50px;
}
#Tcomment{
    min-height: 100%;
    width:100% ;
    border-radius: 5px;
    margin-bottom: 1%;
}
@media screen  and (max-width: 768px) {
    .mask{
        font-size: 4rem;
    }
    #login {
        margin: 0;
    }
    .score{
        width: 180px;
        float: right;
    }
    /*#schoolSort td.col-xs-4{*/
    /*float: right;*/
    /*}*/
    #schoolSort td.col-xs-12{
        float: right;
    }
    #schoolSort td[class*="col-xs-"]{
        padding-right: 10px;
        padding-left: 20px;
    }
    #schoolSort td {
        padding:0;
    }

}