h4{
    margin: 4% 0;
}
#nav{
    background-color: #fafafa;
}
.welcome{
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: 15px;
}
#nav h3{
    margin: 7px 0;
}
#nav h5{
    margin: 5px 0;
}
#nav ul{
    margin: 20px ;
}
#main {
    background-color: #fff;
    margin-top: 50px;
}
#form1 button.btn-blue {
    color: #ffffff;
    background-color: #3ad8ff;
    margin-top: 6%;
    margin-bottom: 3%;
}
#form1{
    margin-bottom: 2%;
}
#form1 button{
    height: 65px;
}
#form1:last-child a{
    color: #3ad8ff;
}
.input-border {
    height: 80px;
    line-height: 80px;
    border: none;
    padding-left: 40px;
    border-bottom: 1px solid #dddddd;
    background: url("../images/login_user.png") no-repeat left center;
    /*color: #3ad8ff;*/
}
input[type=password]{
    background-image: url("../images/login_pwd.png");
}
input[type=email]{
    background-image: url("../images/login_email.png");
}
#Account-login img{
    margin-top: 20px ;
}
#footer{
    height:300px;
    background-color: #eee;
    color:#3ad8ff;
    margin-top: 5%;
}
#footer p:first-child{
    color:#3ad8ff;
}
#footer p a{
    color:#3ad8ff;
}
#footer p{
    color: #000;
}

@media screen  and (max-width: 1200px){
    #footer{
        line-height: 2rem;
    }
}
@media screen and (max-width: 990px) {

}
@media screen  and (max-width: 768px){
    #main {
        margin-top: 90px;
    }
    #Account-login h4 {
        font-size: .5rem;
    }
}